/* Estilos gerais para a página dos guri ;) */
body{
    background-color: #3fc84c;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Definir a fonte da página*/
    margin: 0; /*Remove a margem padrão*/
    padding: 20px; /*Adiciona um espaço inteiro(padding) na página*/

}
/* Estilos para o container principal*/
.container{
    background-color: rgb(48, 246, 26); /* Define a cor do fundo do container*/
    border-radius: 20px; 
    /* Cantos arredondados*/
    padding: 3px;
    /* adicionar um espaço interno (padding) ao redor do conteudo*/
    max-width:400px;
    /*Define a largura máxima do container*/
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.9);
    /*Adiciona uma sombra bem de levis para destacar o container*/

} 

/* Estilos para o título */
h1{
    text-align: center; /* centralizar o titulo*/
    
    color:aliceblue  /* Cor para o titulo*/
   
}
/* Estilos para os inputs e botões */
input{
    width: 65%; /* Faz o campo de entrada ocupar toda a largura disponivel*/
    padding: 7px; /*Espaço interno ao redor do texto no campo*/
    margin: 5px 0; /*Adiciona um espaço de 5px acima e abaixo do campo*/
    border-radius: 7px; /*Arredondar os cantos do campo*/
    border: 1px solid; /*Borda Cinza Clara*/


}

.botao1{
    width: 100%; /*Faz o botão ocupar toda a largura disponivel*/
    padding: 3px; /*Espaço interno ao redor do texto no botão*/
    background-color:rgb(46, 132, 53); /*cor de fundo do botao*/
    color: #000000; /*cor texto do botão*/
    border: none; /*Remove a borda padrão*/
    border-radius: 5px; /*Arredonda os cantos do botão*/
    cursor: pointer; /*Muda o cursor para indicar que o botão é clicavel*/


}

.botao2{
    width: 100%; /*Faz o botão ocupar toda a largura disponivel*/
    padding: 3px; /*Espaço interno ao redor do texto no botão*/
    background-color:rgb(46, 132, 53); /*cor de fundo do botao*/
    color: #000000; /*cor texto do botão*/
    border: none; /*Remove a borda padrão*/
    border-radius: 5px; /*Arredonda os cantos do botão*/
    cursor: pointer; /*Muda o cursor para indicar que o botão é clicavel*/


}

/* Efeito ao passar o mouse sobre o botao*/
.botao1:hover{
    background-color: rgb(94, 255, 145);
}

.botao2:hover{
    background-color: rgb(255, 0, 0);
}

/*Estilo para a area que exibe o saldo*/
.balance{
    font-size: larger; /*Aumenta o tamanho  da fonte*/
    text-align: center;  /*Centraliza o texto*/
    margin-top: 20px; /*Adiciona um espaço superior*/

}